<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CURA Test Suite">
    <parameter name="URL" value="https://katalon-demo-cura.herokuapp.com/"/>
    <test name="CURA Health Care">
        <classes>
            <class name="Login"/>
            <class name="Appointment"/>
        </classes>
    </test>
</suite>